* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    background-color: deeppink;
    color: white;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 60px;
    margin: 15px;
}

.input {
    padding: 10px;
    width: 35rem;
    font-size: 20px;
    outline: none;
    border: 2px solid plum;
    border-radius: 10px;
    background-color: white;
}

.addbutton, .clear {
    color: deeppink;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid plum;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}
.clear{
   margin-top: 20px;
   align-items: center;
   justify-content: center;
}


.addbutton:hover, .clear:hover{
    background-color: rgb(255, 212, 255);
}

.todo-list{
   width: 35rem;
   height: 25rem;
    padding: 10px;
    border-radius: 30px;
}

.todo-list li{
    color: white;
  font-size: 20px;
  padding: 10px;
  margin: 10px 0px;
  border: 3px solid plum;
  border-radius: 15px;
  list-style-type: none;
  text-transform: capitalize;
}

.todo-list p{
    padding: 5px 0px;
}


.todo-list li:hover{
    background-color:hotpink;
    border-radius: 10px;
    padding-bottom: 10px;
}